
/************************************************************/
/*　フォーム　*/
/************************************************************/
.formWrap h2{
        line-height: 150%;
}

input, textarea {
    display: inline-block;
    background-color: #FFF;
    border: 1px solid #DFDFDF;
}

.formWrap {
    width: 320px;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 6em 0;
}

.inputWrap {
    display: block;
    margin: 20px auto;
    max-width: 320px;
    width: 100%;
    text-align: left;
    /*margin-bottom: 20px;*/
}

.inputWrap input {
    width: 100%;
}

.errmsg {
    color: red;
    font-size: .75em;
}

.label-text {
    font-size: 12px;
}

.fogot-password {
    margin-top: 1em;
    text-align: left;
    font-size: 12px;
}

.guestList{
    margin-top: 1rem;
     list-style: none;
 }
.guestList li{
    margin-bottom: 0.5rem;
}