/************************************************************/
/*　基礎　*/
/************************************************************/


body{
    margin: 0 auto;
    overflow-x: hidden;
    color:#333333;
}

header,main,footer{
    overflow: hidden;
    width:100%;
}
.inner{
    margin:0 auto;
    padding:0 10px;
    max-width:1220px;
    position: relative;
}

img{
    max-width:100%;
}

/************************************************************/
/*　header　*/
/************************************************************/
header{
    /*background-color: #ffefef;*/
    background-color: #14DC98;
    color:#FFFFFF;
}

header .inner{
    padding-top:6px;
    padding-bottom:6px;
}

header h1{
    display: none;
}

header img{
    vertical-align: middle;
}

header ul{
    display: inline-flex;
    list-style: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

header li{
    margin-right: 1em;
}

header a{
    color:#FFFFFF;
    font-weight: bold;
    text-decoration: none;
}

/************************************************************/
/*　main　*/
/************************************************************/

main{
    background-color: #FDFFFF;
    /*background-color: #efffef;*/

}

main .inner{

    min-height:400px;
    /*padding-top:30px;*/
    /*padding-bottom: 30px;*/

}

.bg-hiwihiBird{
    background:url("../img/hummingbird.jpg") no-repeat;
    /*background-position:0 -200px ;*/
    background-size:cover;

}

main .bg-overlay{
    background: -moz-linear-gradient(top, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.8) 50%, rgba(255,249,252,0.95) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.8) 50%,rgba(255,255,255,0.8) 50%,rgba(255,249,252,0.95) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.8) 50%,rgba(255,255,255,0.8) 50%,rgba(255,249,252,0.95) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#e6fff9fc',GradientType=0 );
    overflow: hidden;
}


/*main p{*/
    /*font-size:14px;*/
/*}*/


/************************************************************/
/*　footer　*/
/************************************************************/
footer{
    /*background-color: #efefff;*/
    background-color: #14DC98;
    color:#FFFFFF;

    min-height: 100px;
}


/************************************************************/
/*　共有　*/
/************************************************************/

.introWrap{
    max-width: 800px;
    margin : 0 auto;
    text-align:left;
    padding: 2rem 0 ;
}
.introWrap h2{
    margin-bottom: 0.5em;
}

.formWrap{
    width: 320px;
    max-width: 80%;
    text-align: center;
    margin : 0 auto;
    padding:6rem 0;
}
.subContent h2{
    margin-bottom: 0.5em;
}

.btn-rr{    /* rr: rounded-rectangle */
    display: block;
    border-radius:20px;
    padding:0.5rem 0;
    margin:1rem auto;
    width:320px;
    text-decoration: none;
    background: #000;
    color:#FFF;
    border:1px #FFF solid;
    font-size:0.9em;
}

h2.iconHead::before{
    content: '';
    width: 1.35em;
    height: 1.35em;
    display: inline-block;
    background-image: url(../img/icon.png);
    background-size: contain;
    vertical-align: text-top;

}


/************************************************************/
/*　フォーム　*/
/************************************************************/
input{
    display: inline-block;
    background-color:#FFF;
    border: 1px solid #DFDFDF;
}


.inputWrap{
    display: block;
    margin: 20px auto;
    width:320px;
    text-align: left;
    /*margin-bottom: 20px;*/
}

.inputWrap input{
    width:100%;
}
.errmsg{
    color: red;
    font-size:.75em;
}
.label-text{
    font-size:12px;
}
.fogot-password{
    margin-top:1rem;
    text-align: left;
    font-size:12px;
}

/************************************************************/
/*　タイムライン　*/
/************************************************************/

.timelineWrap{
    margin:20px auto;
    display: flex;
    border-collapse: collapse;

}
.timelineBlock{
    border: 1px solid #DFDFDF;
    border-collapse: collapse;
    padding:1rem;
    overflow-wrap: break-word;

}
.timelineWrap .sideArea{
    width: 30%;
}
.timelineWrap .mainArea{
    width: 70%;
}
.userWrap img.avater{
    margin:0 auto;
    display: block;
}
.userWrap .userName{
    margin:0.5rem 0 0;
    font-size:18px;
    font-weight: bold;
}
.userWrap .userId{
    margin-bottom:0.5rem;
    font-size:13px;
    color:#999999;
}


.userStatsWrap{
    display: flex;
    width:100%;
}
.statsHead{
    color:#14DC98;
    font-weight: bold;
}
.statsValue{
    font-size:13px;
    overflow: hidden;
    text-overflow: ellipsis;
}


.statsBlock{
    max-width:25%;
}


/************************************************************/
/*　ツイート　*/
/************************************************************/

.tweetBox{
    display: flex;
}
.iconWrap{
    min-width: 50px;
    margin-right: 20px;
}
.tweetContent{
    position: relative;
    padding:1rem;
    background-color: #E6FFF0;
    border-radius: 16px;
}
.tweetContent:before {
    content: "";
    position: absolute;
    top: 30px;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #E6FFF0;
}


.tweetBody{

}
.tweetFooter{
    margin-top: .5rem;
    font-size:12px;
    color:#999999;
}

.tweetFooter .iconWrap .fas{
    font-size: 14px;
    margin-right: 1rem;
    font-weight: normal;
}

.tweetFooter .iconWrap .fas::before{
    font-weight: bold;
    margin-right:3px;
}



