body{
    margin: 0 auto;
    max-width:1180px;
    overflow-x: hidden;
}

header,main,footer{
    overflow: hidden;
    padding:1rem 2rem;
}

header{
     background-color: #ffe0e0;
 }

main{
    background-color: #e0ffe0;
}

footer{
    background-color: #e0e0ff;
}