
/************************************************************/
/*　margin　*/
/************************************************************/
.m10{    margin: 10px; }
.m20{    margin: 20px; }
.mb10{   margin-bottom: 10px; }
.mb20{   margin-bottom: 20px; }

.mt05rem{   margin-top: 0.5rem; }
.mt1rem{    margin-top: 1rem; }
.mt2rem{    margin-top: 2rem; }
.mt3rem{    margin-top: 3rem; }
.mt4rem{    margin-top: 4rem; }

.mb05rem{   margin-bottom: 0.5rem; }
.mb1rem{    margin-bottom: 1rem; }
.mb2rem{    margin-bottom: 2rem; }
.mb3rem{    margin-bottom: 3rem; }
.mb4rem{    margin-bottom: 4rem; }

.m05rem{   margin: 0.5rem; }
.m1rem{    margin: 1rem; }
.m2rem{    margin: 2rem; }

/************************************************************/
/*　color　*/
/************************************************************/
.color-hiwihi{
    color:#14DC98;
}
.white{
    color:#FFFFFF;
}
.bgColor-hiwihi{
    background:#14DC98;
}
.bgColor-white{
    background:#FFFFFF;
}
.border-hiwihi{
    border-color:#14DC98;
}
.border-white{
    border-color:#FFFFFF;
}

/************************************************************/
/*　float　*/
/************************************************************/
.fll{
    float: left;
}
.flr{
    float: right;
}

img.sq200px{
    width:200px;
    height:200px;
}
img.sq50px{
     width:50px;
     height:50px;
 }